name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23.4'
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Build examples
        run: |
          cd examples/basic
          go build -v .
